{% extends "base.html" %}

{% block title %}
  Impulse - Event {{ event.external_id }}
{% endblock %}

{% block content %}
  <div class="event-details">
    <h1>{{ event.title }}</h1>
    <p>Current Price: {{ event.current_price.price }}</p>
    <p>Date: {{ event.datetime_start }}</p>
    <p>URL: {{ event.url }}</p>
  </div>
  {% if monitor %}
    <div class="monitor-details">
      Tracking event with price ${{ monitor.amount }}
    </div>
  {% else %}
    <div class="create-monitor">
      Create a new price tracker
        <form method="post" action="/events/{{ event.external_id }}/monitors" class="navbar-form pull-right" />
          <input type="tel" class="input-medium search-query" name="phone_number" placeholder="e.g. +12223334444" />
          $<input type="number" name="amount" min="0" max="9999">
          <input type="submit" class="btn" value="Create Tracker" />
        </form>
    </div>
  {% endif %}

{% endblock %}
